*{
    margin: 0;
    box-sizing: border-box;
}

.aboutContainer{
    background-color: #C4C4C4;
    height: 100vh;
    min-width: 100%;

}

.gridContainerAbout {
    background-color: black;
    display: grid;
    grid-template-columns: 15% 70% 14.9%;
    grid-gap: 1px;
}

.about1 {
    height: 100vh;
    position: relative;
    background-color: #C4C4C4;

}

.about {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 26.65350444225074vh;
    font-size: 13.820335636722605vh;
    bottom: 2%;
    right: 2%;
}

.about2 {
    text-align: center;
    background-color: #C4C4C4;

}

.about3 {
    background-color: #C4C4C4;

}

.aHeading {
    padding-top: 150px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 4vh;
    font-weight: 700;
}

.about2 ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

.about2 span {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5vh;
    line-height: 50px;
}

.email1 {
    color: #676767;
}


.about2 button {
    border-color: black;
    border-width: 6px;
    background-color: #C4C4C4;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3.5vh;
    font-weight: 700;
    padding: 2vh;
    margin: 0;
    z-index: 5;
    transition: 0.3s;
}

.about2 button:hover {
    background-color: black;
    color: #C4C4C4;
}

