@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}



.heroContainer{
    background-color: #1C1D1C;
    height: 100vh;
    min-width: 100%;

}

.gridContainer {
    background-color: rgba(255, 255, 255, 0.3);
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 14.8%;
    grid-gap: 1px;
}

.gridContainer > div {
    background-color: #1C1D1C;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.gridItem3 {
    height: 100vh;
    background-image: url('../images/hero_bg_main.png');
    padding-left: 100px;
}

.gridItem {
    height: 100vh;
}

.gridItem2 {
    height: 100vh;
    position: relative;
}

.gridItem4 {
    height: 100vh;
    position: relative;
}

.my {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 26.65350444225074vh;
    color: #d1d1d1;
    bottom: 2%;
    bottom: 0;
}

.img1 {
    position: absolute;
    left: -10%;
    top: 20% ;
    height: 150vh;
    z-index: 1;
}

.img2 {
    position: absolute;
    right: -30%;
    top: 40% ;
    height: 100vh;
}

.img1 > img {
    position: sticky;
    top: 0;
    width: 80%;
}

.img2 > img {
    position: sticky;
    top: 0;
    width: 80%;
}

.epoch {
    font-family: 'Montserrat', sans-serif;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 26.65350444225074vh;
}

.gridItem1 {
    position: relative;
}

.tarun {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 13.820335636722605vh;
    color: #B7B7B7;
    bottom: 2%;
    right: 2%;
}

.vertical-line{
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 125px;
}