@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}



.projectsContainer{
    background-color: #1C1D1C;
    max-height: 100vh;
    min-width: 100%;

}

.ProjgridItem2 {
    height: 100vh;
    position: relative;
}

.ProjgridItem3 {
    height: 100vh;

}

.projStickyDiv1 {
    position: absolute;
    left: 20%;
    top: -20%;
    height: 100vh;
}

.projStickyDiv1 img {
    position: sticky;
    width: 90%;
    top: 0;
}

.ProjgridItem4 {
    height: 100vh;
    position: relative;
}

.projStickyDiv2 {
    position: absolute;
    left: 20%;
    top: -50%;
    height: 150vh;
}

.projStickyDiv2 img {
    position: sticky;
    width: 120%;
    top: 0;
    z-index: 1;
}

.ProjgridItem5 {
    position: relative;
    height: 100vh;
}

.ProjgridItem5 img {
    position: absolute;
    right: 10%;
    bottom: 0;
    width: 50%;
}

.projFlexContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.box1 {
    flex: 50%;
    transition: 0.3s;
}

.box1:hover {
    background-color: #111111;
    
}

.box2 {
    flex: 50%;
    background-color: #C4C4C4;
    transition: 0.3s;


}

.box2:hover {
    background-color: #eeeeee;
}

.box1Flex {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.box2Flex {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.Plogo {
    /* padding: 50px; */
    flex: 40%;
    padding-top: 80px;
    
}

.Plogo img {
    vertical-align: bottom;
}

.Pdesc {
    padding-top: 20px;
    flex: 30%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5vh;
    line-height: 40px;
    color: #C5C5C5;
}

.Pdesc2 {
    padding-top: 0px;
    flex: 30%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2.5vh;
    line-height: 40px;
    color: #1C1D1C;
}

.Pbutton1 {
    flex: 30%;
}

.Pbutton2 {
    flex: 30%;
}

.Pbutton1 button {
    border-color: #9D9D9D;
    border-width: 6px;
    background-color: #1C1D1C;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2vh;
    font-weight: 700;
    padding: 2vh;
    margin: 0;
    transition: 0.3s;
    color: #D8D8D8;
}

.Pbutton1 button:hover {
    background-color: #9D9D9D;
    color: #1C1D1C;
    cursor: pointer;
}

.Pbutton2 button {
    border-color: black;
    border-width: 6px;
    background-color: #C4C4C4;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 2vh;
    font-weight: 700;
    padding: 2vh;
    margin: 0;
    z-index: 5;
    transition: 0.3s;
    vertical-align: middle;
}

.Pbutton2 button:hover {
    background-color: black;
    color: #C4C4C4;
    cursor: pointer;
}


@media screen and (max-height: 700px){

    .projectsContainer{
        background-color: #1C1D1C;
        height: 140vh;
        min-width: 100%;
    
    }
    .box1Flex, .box2Flex{
        height: 50vh;
    }

    .Plogo {
        /* padding: 50px; */
        flex: 40%;
        padding-top: 20px;
        
    }
}

@media only screen and (max-width: 500px) {
    .ProjgridItem2, .ProjgridItem4, .ProjgridItem5 {
        display: none;
    }
}

